<div class="user">
    <div class="photo">
        <img src="{{ asset('uploads/user/avatar/' ~ app.user.avatar) }}" />
    </div>
    <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                {{ app.user.fullName }}
                <b class="caret"></b>
              </span>
        </a>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
                <li class="nav-item {% if app.request.get('_route') == 'user_index' %} active"{% endif %} ">
                    <a class="nav-link" href="{{ path('user_index') }}">
                        <span class="sidebar-mini"> MP </span>
                        <span class="sidebar-normal"> My Profile </span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'user_edit' %} active"{% endif %} ">
                    <a class="nav-link" href="{{ path('user_edit') }}">
                        <span class="sidebar-mini"> EP </span>
                        <span class="sidebar-normal"> Edit Profile </span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'blog_index' %} active"{% endif %} ">
                    <a class="nav-link" href="#">
                        <span class="sidebar-mini"> S </span>
                        <span class="sidebar-normal"> Settings </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
