<div class="sidebar" data-color="orange" data-background-color="transparent" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="https://upload.wikimedia.org/wikipedia/de/1/1c/Courant_d%C3%A9mocrate_%28logo%29.png" class="simple-text logo-mini">
            CD
        </a>
        <a href="{{ path('blog_index') }}" class="simple-text logo-normal">
            Courant Democrat
        </a></div>
    <div class="sidebar-wrapper">
        {% if app.user %}
            {% include ('profile/user_sidbar.html.twig') %}
        {% endif %}
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="{{ path('blog_index') }}">
                    <i class="material-icons">dashboard</i>
                    <p> News </p>
                </a>
            </li>
            {% for menu in Menus.collection().menus %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="material-icons">{{ menu.material }}</i>
                        <p> {{ menu.name }} </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-background"></div>
</div>
